.dplayer.dplayer-mobile .dplayer-controller .dplayer-icons .dplayer-play-icon {
 display:initial !important;
}
#ga-header {
	margin:2rem 0 2.15rem;
}
#ga-header div[first] aside#ga-brand h1 {
	font-size:3rem;
}
#ga-header::before {
	bottom:-2rem;
	height:3px;
	background:rgba(51,51,51,.9);
}
@media screen and (max-width:660px) {
	#ga-header::before {
	 width:calc(100%);
	 left:0px;
	}
}